{% extends "guest.html" %}
{% load static %}
{% block title%}
    Forgot Password
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<section>
<div class="login-container">
    <div class="login-header">
      <h2>Forgot Password</h2>
    </div>
    <form id="login-form" method="POST" action="{% url 'view_forgot_password' %}">
        {% csrf_token %}
      <div class="login-field">
        <label for="username">Email Address</label>
        <input type="email" id="username" name="email" placeholder="Enter your email" required>
      </div>

      <div class="" style="display:flex;justify-content:space-between;align-items:center;padding-inline: 2%;">
        <a href="{% url 'register' %}" style="">Create Account</a>
        <a href="{% url 'view_login' %}" style="">Login</a>
      </div>
      
      <button type="submit" class="login-submit">Request Password Reset</button>
      <div class="login-error" id="login-error"></div>
    </form>
  </div>
</section>

{% endblock %}

  {% block js%}

    const form = document.querySelector('#login-form');

    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      
      const email = document.querySelector('#username').value;
      
      const client = new APIClient();
      
      try {
        const response = await client.make_api_call('/api/users/reset_password/','POST', { email }, {'Content-Type': 'application/json'},authenticate=false);
        console.log(response);
        // Show success message or redirect to success page
        showAlert("success","Reset Link Sent to your Email.");
      } catch (error) {
        console.error(error);
        // Show error message
        showAlert("failed","Kindly check your email address. And Try Once more.",5000);
      }
    });

  {% endblock %}