:root{
  --consult-header-height:20px;
  --consult-tab-height:40px;
  --margin-inline:2%;
}
.consult-header {
  right: 32%;
  position: fixed;
  height: var(--consult-header-height);
  z-index: 1009;
  color:var(--brand-color)
}

@media (max-width: 480px) {
  .consult-header{
    display: none;
  }
}

.tab{
  position: fixed;
  height: var(--consult-tab-height);
  top:var(--consult-tab-height);
  z-index:1000 ;
  width: calc(100% - var(--sidebar-width));
}

.tabcontent{
  padding-inline:0;
}
.chat {
    padding-top:calc(var(--consult-tab-height));
    width:100%;
    margin-bottom: calc(var(--chatbox-height));
  }

  .chat__container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-inline: var(--margin-inline);
    width: calc(100% - var(--margin-inline)*2);
    max-height: calc(100% - var(--chatbox-height) - var(--nav-height));
  }
  

  :is(.chat__container) :is(.chat__receive,.chat__sent) {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    max-width: 80%;
  }

  .chat__container .chat__sent {
    background-color: cornsilk;
    align-self: flex-end;
    color: #242323;
  }
  body.dark .chat__container .chat__sent{
    background-color: #363636;
    color: #d7d0d0;
  }

  .chat__container .chat__receive {
    background-color: var(--sidebar-color);
    align-self: flex-start;
  }

    
  .chat__send{
    display: flex;
    align-items: center;
    }
    .chat__send{
    z-index: var(--zIndex-inputChatbox);
    background-color: initial;
    color: var(--sidebar-color);
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: var(--chatbox-height);
    bottom: 0;
    margin-inline:var(--margin-inline);
    margin-bottom: calc((var(--chatbox-height) - var(--chatbox-input-height))*0.5);
    width: calc(100% - var(--sidebar-width) - var(--margin-inline)*2);
    }
    .chat__send,.tab{
      left: var(--sidebar-width);
      transition: var(--tran-05);
      }
 
    .chat__send input[type="text"]{
      flex: 1;
      padding: var(--pd-inline);
      border: 1px solid var(--brand-color);
      border-radius: 4px;
      height: var(--chatbox-input-height);
      font-size: medium;
      outline: 1px solid var(--text-color-alt);
      background-color: var(--text-color-alt);
      color: var(--text-color);
    }
    :is(.chat__send input[type="text"]):hover,
    :is(.chat__send input[type="text"]):focus{
      border: 1px solid var(--brand-color);
    }
    .chat__send button[type="submit"]{
    background-color: var(--brand-color);
    color: var(--brand-neutral);
    border: none;
    border-radius: 4px;
    padding: var(--pd-inline) 1em;
    cursor: pointer;
    height: var(--chatbox-input-height);
    font-size: medium;
    }
    

    @media (max-width: 992px){
        .tab{
        left: 0 !important;
        width:100% !important;
        max-width: 100% !important;
        }
        .chat__send{
          left: 0 !important;
          width:calc(100% - var(--margin-inline)*2) !important;
          max-width: 100% !important;
          }
      }
  .chat__send .icon-send {
    font-size: 18px;
  }
  
  .chat__input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #f1f0f0;
  }
  
  .chat__button {
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: var(--brand-color);
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .chat__switch {
    position: fixed;
    top: 59px;
    right: 10%;
    z-index: 1001;
    transform: translateY(-50%);
}
.chat__switch-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
  .chat__label {
    position: relative;
    padding-inline:5px;
  }
  
  .chat__input-switch {
    display: block;
  }
  
  .chat__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d8d8d8;
    border-radius: 34px;
    transition: all 0.3s;
  }
  
  .chat__slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s;
  }
  
  .chat__input-switch:checked + .chat__slider {
    background-color: #0084ff;
  }
  
  .chat__input-switch:checked + .chat__slider:before {
    transform: translateX(24px);
  }
  